/*header.html.twig*/
.sd-header-navigation {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    a {
        margin-right: 20px;
        font-size: inherit;
    }
}

/*header-html.twig*/
.sd-login {
    display: flex;
    justify-content: space-between;
    a {
        color: #4a545b;
        margin: 20px;
    }
}

/*top-bar.html.twig*/
#top {
    border-bottom-color: #bcc1c7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    a {
        color: #4a545b;
        margin: 20px;
    }
}

/*top-bar und custom navigation für kleine Bildschrime ausblenden*/
@media only screen and (max-width: 760px) {
    #top {
        display: none;
    }
    .sd-header-navigation {
        display: none;
    }
}

/*sd-account-widget.html.twig*/
.sd-account-button {
    background: none !important;
    border: none;
    margin: 20px !important;
    font-family: sans-serif;
    color: #4a545b;
    cursor: pointer;
}

/*cart-widget.html.twig*/
.header-cart-total-sd {
    font-family: sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px;
    color: #4a545b;
}
