{% sw_extends '@Storefront/storefront/base.html.twig' %}

{# top-bar außerhalb von container eingefügt#}
{% block base_header %}
    <header class="header-main">
        {% block base_header_inner %}
            {% sw_include '@Storefrontcustom/storefront/layout/header/top-bar.html.twig' %}
            <div class="container">
                {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
            </div>
        {% endblock %}
    </header>
{% endblock %}

{# Navigation entfernt #}
{% block base_navigation %}{% endblock %}
