{% sw_extends '@Storefrontcustom/storefront/layout/header/top-bar.html.twig' %}
{% block layout_header_top_bar %}
    <div class="container-fluid" id="top">
        <span>Versandkostenfreie Lieferung</span>
        <span>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
            <a href="#">Link 5</a>
            <a href="#">Link 6</a>
        </span>
    </div>
    </div>
{% endblock %}
